.home {
  background-color: #f7f7f7;
  min-height: 100vh;
  .title {
    color: #878787;
    background-color: #f7f7f7;
    padding: 10rpx 20rpx;
    font-size: 28rpx;
  }

  .input {
    text-align: right;
    color: #656565;
    font-size: 28rpx;
  }

  .container {
    background-color: #fff;
    padding: 30rpx 20rpx 0 60rpx;
    &:nth-child(2) .section {
      border-bottom: 1rpx solid transparent;
    }
    .section {
      border-bottom: 1rpx solid #eee;
      margin-left: 30rpx;
      padding-right: 30rpx;
      color: #878787;

      // &__item {
      //   margin-bottom: 30rpx;
      // }

      &__title {
        color: #777;
        font-size: 32rpx;
        font-weight: bold;
        margin-bottom: 20rpx;
        position: relative;
        display: flex;
        justify-content: space-between;

        .scan {
          color: #dcdcdc;
          text-decoration: underline;
          &.active {
            color: #9f8bec;
          }
        }

        &::before {
          content: "";
          background-color: #eee;
          width: 4rpx;
          height: 213rpx;
          position: absolute;
          left: -50px;
          top: 44rpx;
        }

        &.last::before {
          display: none;
        }

        &::after {
          content: "";
          background-color: #d8d8d8;
          border: 4rpx solid #eee;
          width: 26rpx;
          height: 26rpx;
          position: absolute;
          left: -48rpx;
          top: 13rpx;
          border-radius: 50%;
        }
        &.first::after {
          background-color: #9f8bec;
        }
        &.pass::after {
          background-color: #9f8bec;
        }
        &.active::after {
          background-color: #ffcc62;
        }
      }

      &__info {
        width: 100%;

        .item {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20rpx;
          font-size: 28rpx;
        }
      }
    }
  }

  .detail {
    padding: 1rpx 30rpx 30rpx;
    background-color: #fff;
    .item {
      margin-top: 20rpx;
      color: #878787;
      font-size: 28rpx;
      display: flex;
      justify-content: space-between;
    }
  }

  .item {
    text {
      &:nth-child(2) {
        color: #656565;
      }
    }
  }

  .bold {
    font-weight: bold;
  }
}
