.home {
  .title {
    color: #878787;
    background-color: #f7f7f7;
    padding: 10rpx 20rpx;
    margin-bottom: 30rpx;
    font-size: 28rpx;
  }

  .input {
    text-align: right;
  }

  .container {
    margin: 30rpx 20rpx 0 60rpx;

    .section {
      border-bottom: 1px solid #eee;
      margin-left: 30rpx;
      padding-right: 30rpx;
      color: #878787;

      &__item {
        margin-bottom: 30rpx;
      }

      &__title {
        color: #777;
        font-size: 32rpx;
        font-weight: bold;
        margin-bottom: 20rpx;
        position: relative;
        display: flex;
        justify-content: space-between;

        .scan {
          color: #9f8bec;
          text-decoration: underline;

          &.scaned {
            color: #dcdcdc;
          }
        }

        &::before {
          content: "";
          background-color: #eee;
          width: 4rpx;
          height: 210rpx;
          position: absolute;
          left: -51px;
          top: 40rpx;
          z-index: 1;
        }

        &.last::before {
          display: none;
        }

        &::after {
          content: "";
          background-color: #ffcc62;
          border: 2px solid #eee;
          width: 26rpx;
          height: 26rpx;
          position: absolute;
          left: -48rpx;
          top: 13rpx;
          border-radius: 50%;
        }
        &.first::after {
          background-color: #9f8bec;
        }
        &.pass::after {
          background-color: #9f8bec;
        }
      }

      &__info {
        width: 100%;

        .item {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20rpx;
          font-size: 28rpx;
        }
      }
    }
  }

  .detail {
    padding: 0 30rpx 30rpx;
    background-color: #fff;
    .item {
      margin-top: 20rpx;
      color: #878787;
      font-size: 28rpx;
      display: flex;
      justify-content: space-between;
    }
  }

  .item {
    text {
      &:nth-child(2) {
        color: #656565;
      }
    }
  }

  .bold {
    font-weight: bold;
  }
}
